body {
  background: rgb(39, 39, 39);
  color: white;
}

.nav-bar {
  background: white;
  padding: 20px;
}

.nav-bar a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  margin: 0 10px;
}
